html, body{
	font-family: Arial, sans-serif;
	margin:0;
}

header{
	background-color: #33adff;
	padding: 40px;
	text-align: center;
}
header h1{
	font-size: 90px;
	color: #ff6600;
}
header img{
	border-radius: 175px;
	width: 300px;
	border:16px solid #3333ff;
}
.content{
	    max-width: 400px;
    margin: 0 auto;
    background-color: cornsilk;
    padding: 0 20px;
}
img.big_image{
	max-width: 100%
}
p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color:red;
	text-decoration: none;
}
footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #E6E6E6;
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline-block;
	margin: 0 5px;
}